@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  z-index: 1000000000000000000;
  position: sticky;
  top: 0;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 910px) {
  nav {
    margin-top: 40px;
    flex-direction: column;
  }
}
@media (max-width: 470px) {
  nav {
    flex-direction: column;
  }
}
nav .nav_input {
  border-radius: 5px;
  width: 290px;
  height: 40px;
  border: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
}
nav .nav_input button {
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: #e0e0e0;
  width: 137px;
  height: 38px;
}
nav .nav_input form {
  display: flex;
  align-items: center;
}
nav .nav_input form img {
  padding: 0 5px 0 5px;
}
nav .nav_input form input {
  width: 100%;
  border: none;
}
nav .nav_input form input:focus {
  outline: none;
  border: none;
}
nav .nav_logo_2 {
  position: relative;
  width: 150px;
  height: 98px;
  background-color: #f55f39;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 910px) {
  nav .nav_logo_2 {
    margin: 10px 0 10px 0;
  }
}
nav .nav_menus_logo {
  display: flex;
  gap: 21px;
}
nav .nav_menus_logo .nav_menu {
  display: flex;
  align-items: center;
  gap: 21px;
}
nav .nav_menus_logo .nav_menu_link {
  width: 137px;
  height: 23px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
  color: #222222;
  text-transform: uppercase;
}
@media (max-width: 470px) {
  nav .nav_menus_logo .nav_menu_link {
    color: #ffffff;
  }
}
@media (max-width: 470px) {
  nav .nav_menus_logo .nav_menu {
    position: absolute;
    top: 0;
    display: none;
    z-index: 999;
  }
  nav .nav_menus_logo .nav_menu.active {
    transition: 1s;
    border-radius: 15px;
    border: 1px solid #f55f39;
    display: flex;
    justify-content: center;
    height: 240px;
    width: 150px;
    background-color: #f55f39;
    margin-top: 80px;
    display: flex !important;
    flex-direction: column;
  }
}
@media (max-width: 470px) and (max-width: 470px) {
  nav .nav_menus_logo .nav_menu.active {
    margin-top: 230px;
    flex-direction: column-reverse;
  }
}
@media (max-width: 470px) {
  nav .nav_menus_logo {
    display: block;
    flex-direction: column;
  }
}
@media (max-width: 470px) {
  nav {
    display: flex;
  }
}

.big_image {
  background-image: url("../images/people_img.png");
  background-size: cover;
  width: 100%;
  height: 700px;
}
.big_image h1 {
  padding-top: 153px;
  max-width: 800px;
  font-size: 49px;
  font-weight: 400;
  line-height: 65px;
}
.big_image h1 span {
  color: #2bca8b;
  text-decoration: underline;
}
@media (max-width: 515px) {
  .big_image h1 {
    font-size: 39px;
    line-height: 55px;
  }
}
@media (max-width: 420px) {
  .big_image h1 {
    font-size: 25px;
    line-height: 50px;
  }
}
.big_image p {
  max-width: 556px;
  height: 74px;
  font-size: 19px;
  font-weight: 400;
  line-height: 37px;
  color: #444444;
}
@media (max-width: 450px) {
  .big_image p {
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
  }
}
.big_image .big_btns {
  display: flex;
  gap: 15px;
}
.big_image .big_btns .big_btn_2 {
  background-color: #2bca8b;
}
.big_image .big_btns .big_btn_1 {
  background-color: #f55f39;
}
.big_image .big_btns .big_btn {
  margin-top: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 211px;
  height: 63px;
}
.big_image .big_btns .big_btn a {
  font-size: 23px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
}
.big_image .big_btns .big_btn span {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
}
@media (max-width: 450px) {
  .big_image .big_btns .big_btn {
    margin-top: 20px;
  }
}
@media (max-width: 450px) {
  .big_image .big_btns {
    margin-top: 20px;
    flex-direction: column;
  }
}

.help-section h2 {
  width: 125px;
  height: 117px;
  font-size: 28px;
  font-weight: 400;
  line-height: 39px;
  color: #2bca8b;
}
@media (max-width: 520px) {
  .help-section h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
}
.help-section .writers-section_pages {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .help-section .writers-section_pages {
    flex-direction: column;
  }
}
.help-section .writers-section_pages .help-titles {
  margin-top: 52px;
  display: flex;
  gap: 55px;
}
@media (max-width: 915px) {
  .help-section .writers-section_pages .help-titles {
    flex-direction: column;
  }
}
.help-section .writers-section_pages .help-titles .help-link-item {
  display: flex;
  flex-direction: column;
}
@media (max-width: 520px) {
  .help-section .writers-section_pages .help-titles {
    flex-direction: row;
  }
  .help-section .writers-section_pages .help-titles h2 {
    font-size: 15px;
  }
}
.help-section .writers-section_pages .writers-section {
  position: relative;
  right: 20px;
  background-image: url("../images/help_section.png");
  background-size: cover;
  width: 100%;
  max-width: 490.01px;
  height: 350.01px;
}
@media (max-width: 420px) {
  .help-section .writers-section_pages .writers-section {
    margin-top: 40px;
  }
}
.help-section .writers-section_pages .writers-section h3 {
  padding: 67px 126px 26px 85px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 23px;
}
@media (max-width: 450px) {
  .help-section .writers-section_pages .writers-section h3 {
    padding: 67px 26px 26px 40px;
  }
}
.help-section .writers-section_pages .writers-section p {
  padding: 0 0 0 85px;
  max-width: 376px;
  height: 69px;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
}
@media (max-width: 450px) {
  .help-section .writers-section_pages .writers-section p {
    padding: 0 0 0 40px;
  }
}
.help-section .writers-section_pages .writers-section .writer-profile_1 {
  position: absolute;
  z-index: 99;
  left: 70px;
  bottom: 20px;
}
@media (max-width: 370px) {
  .help-section .writers-section_pages .writers-section .writer-profile_1 {
    left: 25px;
  }
}
.help-section .writers-section_pages .writers-section .writer-profile_2 {
  position: absolute;
  z-index: 9999;
  top: 187px;
  left: 120px;
}
@media (max-width: 370px) {
  .help-section .writers-section_pages .writers-section .writer-profile_2 {
    left: 65px;
  }
}
.help-section .writers-section_pages .writers-section .writer-profile_3 {
  position: absolute;
  z-index: 999;
  left: 190px;
  bottom: 20px;
}
@media (max-width: 370px) {
  .help-section .writers-section_pages .writers-section .writer-profile_3 {
    left: 125px;
  }
}
.help-section .writers-section_pages .writers-section button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  max-width: 146px;
  height: 47px;
  color: #ffffff;
  background-color: #2bca8b;
  top: 230px;
  left: 290px;
  position: absolute;
  z-index: 99999;
}
@media (max-width: 430px) {
  .help-section .writers-section_pages .writers-section button {
    display: none;
  }
}

.section_blog h2 {
  max-width: 490px;
  height: 98px;
  font-size: 52px;
  font-weight: 400;
  line-height: 49px;
}
.section_blog h2 span {
  color: #f55f39;
  text-decoration: underline;
}
@media (max-width: 500px) {
  .section_blog h2 {
    font-size: 38px;
    font-weight: 400;
    line-height: 35px;
  }
}
.section_blog .section_blog_cards {
  justify-content: center;
  margin-top: 60px;
  display: flex;
  gap: 30px;
}
@media (max-width: 1040px) {
  .section_blog .section_blog_cards {
    flex-direction: column;
  }
}
.section_blog .section_blog_card {
  padding-top: 385px;
  background-image: url("../images/blog_card.png");
  background-size: cover;
  width: 100%;
  max-width: 980px;
  height: 675px;
}
.section_blog .section_blog_card .world_card {
  max-width: 427px;
  height: 291px;
  background-color: #ffffff;
}
.section_blog .section_blog_card .world_card h3 {
  padding-top: 28px;
  max-width: 314px;
  height: 114px;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  color: #252061;
}
.section_blog .section_blog_card .world_card p {
  margin-top: 33px;
  max-width: 377px;
  height: 92px;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  opacity: 50%;
}
.section_blog .section_blog_card .world_card .robert_small_card {
  display: flex;
  gap: 10px;
}
@media (max-width: 1040px) {
  .section_blog .section_blog_card .world_card .robert_small_card {
    padding-top: 20px;
  }
}
.section_blog .section_blog_card .world_card .robert_small_card h4 {
  width: 108px;
  height: 23px;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: #252061;
}
.section_blog .section_blog_card .world_card .robert_small_card h6 {
  width: 150px;
  height: 23px;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  color: #252061;
}
.section_blog .section_blog_cards_images .blog_image_1 {
  width: 100%;
  height: auto;
}
.section_blog .section_blog_cards_images .blog_image_2 {
  width: 100%;
  height: auto;
}
.section_blog .section_blog_cards_images .blog_image_3_card {
  background-image: url("../images/blog_image_3.png");
  background-size: cover;
  height: 200px;
  width: 100%;
}
.section_blog .section_blog_cards_images .blog_image_3_card h3 {
  padding: 45px 0 26px 60px;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
}
.section_blog .section_blog_cards_images .blog_image_3_card p {
  padding: 0 0 19px 60px;
  max-width: 398px;
  height: 46px;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #ffffff;
}
.section_blog .section_blog_cards_images .blog_image_3_card a {
  padding: 0 0 40px 60px;
  width: 67px;
  height: 23px;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #f55f39;
}