@use "function" as func;
@use "variables" as var;
* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  $mb-padding: 20;
  max-width: func.container(1440, 170, $mb-padding);
  margin: 0 auto;
  padding: 0 $mb-padding + px;
}
ul {
  list-style-type: none;
  a {
    text-decoration: none;
  }
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .nav_input {
    border-radius: 5px;
    width: 290px;
    height: 40px;
    border: 1px solid var.$bg-grey-border;
    display: flex;
    align-items: center;
    button {
      border-radius: 0 5px 5px 0;
      border: none;
      background-color: var.$bg-gray-btn;
      width: 137px;
      height: 38px;
    }
    form {
      display: flex;
      align-items: center;
      img {
        padding: 0 5px 0 5px;
      }
      input {
        width: 100%;
        border: none;
      }
      input:focus {
        outline: none;
        border: none;
      }
    }
  }
  .nav_logo_2 {
    width: 150px;
    height: 98px;
    background-color: var.$bg-fire-yellow;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 910px) {
      & {
        margin-left: 49px;
        position: absolute;
        z-index: 99;
      }
    }
  }
  .nav_menus_logo {
    display: flex;
    gap: 21px;
    // .nav_logo {
    //   margin-top: 40px;
    // }
    .nav_menu {
      display: flex;
      align-items: center;
      gap: 21px;
      &_link {
        width: 137px;
        height: 23px;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 400;
        line-height: 23px;
        color: var.$bg-dark;
        text-transform: uppercase;

        @media (max-width: 910px) {
          & {
            margin-top: 400000px;
          }
        }
      }
      @media (max-width: 910px) {
        & {
          position: absolute;
          display: none;
          z-index: 999;
        }
        &.active {
          transition: 1s;
          border-radius: 15px;
          border: 1px solid var.$bg-fire-yellow;
          display: flex;
          justify-content: center;
          height: 240px;
          width: 150px;
          background-color: var.$bg-fire-yellow;
          margin-top: 80px;
          position: relative;
          z-index: 9;
          display: flex !important;
          flex-direction: column;
        }
      }
    }
    @media (max-width: 910px) {
      display: block;
    }
  }
  @media (max-width: 910px) {
    & {
      display: flex;
      align-items: normal;
    }
  }
}
