$bg-color-dark-grey: #252061;
$text-color-garay: #969696;
$bg-fire-yellow: #f55f39;
$bg-white: #ffffff;
$bg-green: #2bca8b;
$bg-dark: #222222;
$bg-gray-btn: #e0e0e0;
$bg-grey-border: #d9d9d9;
$bg-dark-text: #444444;
